.Exhibit {
    float: left;
    margin: 2vw 2vw;
    align-items: center;
    justify-content: center;
    padding: 0vw 2vw 0vw 2vw;
    text-align: center;
    color: #ffffff;
    background-color: #0531f6;
    border: 0.1vw solid #005266;
    border-radius: 1vw;
}

.ExhibitHeading {
    font-weight: bold;
    font-size: 2vw;
}

.ExhibitContent {
    margin: 2vw;
    padding: 2vw 2vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw;
    color: #002933;
    background-color: #9dff3c;
    border-radius: 2vw;
}
